/* GLOBAL */
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
      url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
      url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
      url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --txt-color: #9597A5;
  --header-color: #2D314D;
  --gradied-green: linear-gradient(#33D35E  0%, #2AB6D9 100%);
  --green: #30C88F;
}


html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Public Sans", "Arial",sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28;
  background-color: #fff;
  color: var(--txt-color);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
  background-image: url("../img/hero-phones-desktop.png"),
  url("../img/hero-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 480px) top -130px,
  left calc(50% + 600px) top -260px;
}
/* BUTTON */
.button {
  padding: 8px 36px 8px 33px;
  border-radius: 22px;
  background-image: var(--gradied-green);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.button:hover{
  opacity: 0.6;
}

.button:active{
  opacity: 0.4;
}
/* HEADER */
.site-header {
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: block;
  cursor: pointer;
  margin-right: auto;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.logo-img {
  display: block;
  width: 139px;
  height: 20px;
  object-fit: cover;
  flex-shrink: 0;
}

.sitenav {
  margin-right: 226px;
}

.sitenav-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.sitenav-item{
  padding-top: 28px;
  padding-bottom: 28px;
  border: none;
  border-bottom: 4px solid transparent;
}

.sitenav-item:not(:last-child){
  margin-right: 30px;
}

.sitenav-link {
  color: var(--txt-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  text-transform: capitalize;
letter-spacing: -0.11px;
}

.sitenav-link:hover{
  color: var(--header-color);
}

/* SITE-HERO */
.hero {
  position: relative;
  z-index: -1;
  padding-top: 170px;
  padding-bottom: 170px;
  background-color: #fafafa;
}

.hero-content {
  max-width: 450px;
  width: 100%;
}

.hero-header {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--header-color);
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 36px;
}

/* SITE-FEATURES */
.features {
  position: relative;
  z-index: -1;
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #F4F5F7;
}

.features-container {
}

.features-content {
  max-width: 635px;
  width: 100%;
}

.features-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.71px;
}

.features-text{
  margin-top: 0;
  margin-bottom: 72px;

}

.features-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  max-width: 255px;
  width: 100%;
}

.features-item:not(:last-child){
margin-right: 30px;
}

.features-item-img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 40px;
}

.features-item-header {
  margin-top: 0;
  margin-bottom: 26px;
  color: var(--header-color);
  font-weight: 100;
  font-size: 24px;
  letter-spacing: -0.43px;
}

.features-item-text {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

/* ARTICLS */
.articls {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fafafa;
}

.articls-container {
}

.articls-header {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.71px;
}

.articls-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.articls-item {
  max-width: 255px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.articls-item:not(:last-child){
  margin-right: 30px;
}

.articls-item-content{
padding: 24px;
}

.articls-item-img {
  display: block;
  width: 255px;
  height: 200px;
}

.articls-item-top {
  display: block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.16px;
}

.articls-item-header {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--header-color);
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.29px;
}

.articls-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--header-color);
  color: #fff;
}

.footer-container {
  display: flex;
}

.logo-socials-wrapper {
  margin-right: 131px;
}

.site-footer .logo-link {
  color: #fff;
  margin-bottom: 55px;
}

.site-footer .logo-link:hover {
  color: var(--green);
}

.socials-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-item:not(:last-child){
  margin-right: 13px;
}

.social-link {
  display: block;
  cursor: pointer;
  color: #fff;
}

.social-link:hover{
  color: var(--green);
}

.social-link:active{
  opacity: 0.6;
}

.social-img {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: cover;
  flex-shrink: 0;
}

.footer-lists-wrapper{
  display: flex;
  margin-right: auto;
}

.footer-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-lists:not(:last-child){
  margin-right: 30px;
}

.footer-item {
  max-width: 160px;
  width: 100%;
}

.footer-item:not(:last-child){
margin-bottom: 8px;
}

.footer-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
font-size: 15px;
line-height: 26px;
letter-spacing: -0.23px;
}

.footer-link:hover{
color: var(--green);
}

.footer-link:active{
  opacity: 0.6;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right .button {
  margin-bottom: 24px;
}

.footer-right-bottom {
  font-size: 15px;
line-height: 26px;
letter-spacing: -0.23px;
opacity: 0.5;
}