/* GLOBAL */
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
      url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
      url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
      url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --txt-color: #9597A5;
  --header-color: #2D314D;
  --gradied-green: linear-gradient(#33D35E  0%, #2AB6D9 100%);
}


html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Public Sans", "Arial",sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28;
  background-color: #fff;
  color: var(--txt-color);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
  background-image: url("../img/hero-phones-desktop.png"),
  url("../img/hero-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 480px) top -130px,
  left calc(50% + 600px) top -260px;
}
/* BUTTON */
.button {
  padding: 8px 36px 8px 33px;
  border-radius: 22px;
  background-image: var(--gradied-green);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
/* HEADER */
.site-header {
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: block;
  cursor: pointer;
  margin-right: auto;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.logo-img {
  display: block;
  width: 139px;
  height: 20px;
  object-fit: cover;
  flex-shrink: 0;
}

.sitenav {
  margin-right: 226px;
}

.sitenav-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.sitenav-item{
  padding-top: 28px;
  padding-bottom: 28px;
  border: none;
  border-bottom: 4px solid transparent;
}

.sitenav-item:not(:last-child){
  margin-right: 30px;
}

.sitenav-link {
  color: var(--txt-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  text-transform: capitalize;
letter-spacing: -0.11px;
}

.sitenav-link:hover{
  color: var(--header-color);
}

/* SITE-HERO */
.hero {
  padding-top: 170px;
  padding-bottom: 170px;
}

.hero-content {
  max-width: 450px;
  width: 100%;
}

.hero-header {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--header-color);
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 36px;

}
